@import url(http://fonts.googleapis.com/css?family=Merriweather);

body, html{
  height:100%;
}
body{
  background: #444;
  background-size: cover;
  background-position: center center;
  margin: 0px;
  font-family: "Roboto Condensed", sans-serif;
  /*background-color:#FFF8F4;*/
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  width: 100%;
  perspective: 100px;
  perspective-origin: 50% 40%;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

.bg-img {
  background-image: url(images/sky-background.svg);
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  position: absolute;
  top: 0px;
}

.grass {
  width: 100vw;
  height: 400px;
  transform: translateZ(20px);
  position: absolute;
  bottom: 0px;
}

.near-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translateZ(-20px);
  bottom: 0px;
}

.mid-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translateZ(-40px);
  bottom: 0px;
  opacity: 0.5;
}

.trees {
  position: absolute;
  display: flex;
  flex-direction: horizontal;
  flex-wrap: nowrap;
  height: 100vh;
}

.mid-trees {
  position: absolute;
  display: flex;
  flex-direction: horizontal;
  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 100vh;
}

.tree {
  flex-grow: 1
}

.mountain-range {
  background-image: url(images/Landscape/mountain-range.png);
  position: absolute;
  bottom: -120px;
  left: 0px;
  width: 200vw;
  height: 300px;
  opacity: 0.8;
  transform: translateZ(-60px);
}

.foreground{
  transform: translateZ(10px);
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  position: absolute;
  top: 0px;
  right: 0px;
}

.topbar a {
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
  margin: 8px;
  padding: 3px;
}

.title{
  background-color: #777;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

/*.blinky {
  border: 10px solid red;
}*/

.blinky {
  background-image: url(images/donaldduck.gif);
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  background-position: center;
  border: 0px solid white;
}

.bollywood {
  background-image: url(images/dancing.gif);
  background-size: 100% 100%;
  height: 200px;
  width: 200px;
  background-position: center;
  border: 0px solid white;
}

.tribal {
  background-image: url(images/snoopdog-gif.gif);
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  background-position: center;
  border: 0px solid white;
}

/*.bollywood {
  border: 10px solid orange;
}*/

.ballet {
  background-image: url(images/fatterman.gif);
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  background-position: center;
  border: 0px solid white;
}

/*.ballet {
  border: 10px solid purple;
}*/